html,
body {
  font-size: 1rem;
  height: 100%;
}

.page-header {
  background-color: #284b63;
}

h1 {
  color: #ececec;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.photo {
  height: 400px;
}

p {
  font-family: "Fira Sans", sans-serif;
}

.skillSection {
  background-color: #ffecbc;
}

.btn-lilac {
  background-color: #883a69;
  width: 200px;
  color: white;
}

.btn-send {
  background-color: #ffd978;
  width: 200px;
  color: #284b63;
}

/*.projectSection {
  background-color: #cef3ff;
}*/

.logo {
  height: 120px;
}

.projLinks {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  word-spacing: normal;
}

a:hover {
  color: #883a69;
}

.projLinksSpace {
  display: block; /*Otherwise padding-bottom does not work for inline-elements*/
}

.contactSection {
  background-color: #cef3ff;
}

label {
  display: block;
  text-align: left;
}
